@charset 'UTF-8';
@import 'common/main';
@import 'plugins/main';
@import 'iconfont/main';

#root {
  position: relative;
}

html, body {
  height: 100%;
  color: #333333;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: Lato, Noto Sans TC, sans-serif;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

button {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}
